---
import BadgeTitle from "@/components/BadgeTitle.astro";
import BoltIcon from "@/assets/icons/BoltIcon.astro";
---

<section
  class="flex flex-col justify-center items-center gap-8 py-16 text-center"
>
  <BadgeTitle label="Inovando por un futuro sustentable más verde.">
    <BoltIcon />
  </BadgeTitle>

  <p class="text-2xl max-w-4/5">
    Nuestra misión es simple pero poderosa: Fabricar lápices ecólogicos hechos
    con papel reciclado fomentando el consumo responsable.
    <span class="text-neutral-500"
      >Creemos que la sostentabilidad no es un compromiso, sino una elevacíon —
      donde el diseño de calidad, inovación, y deciciones éticas redefinen lo
      que significa prosperar.
    </span>
  </p>
</section>
