---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Features from "@/components/sections/Features.astro";
import Funcionamiento from "@/components/sections/Funcionamiento.astro";
import Mision from "@/components/sections/Mision.astro";
import Valores from "@/components/sections/Valores.astro";
---

<Layout>
  <Hero />
  <div class="h-16"></div>
  <Features />
  <Funcionamiento />
  <Mision />
  <Valores />
</Layout>
